#social {
	margin: 10px 0;
}

/*= Form
-----------------------------------------*/
#social .social-clearfix:before,
#social .social-clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}
#social .social-clearfix:after {
	clear: both;
}
#social .social-clearfix {
	zoom: 1;
}

#social .social-imr {
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	text-indent: -32000px;
}

#social .social-help,
#social .social-psst {
	font-size: 85%;
}
#social .social-help {
	font-style: italic;
}

#social #commentform {
	overflow: hidden;
	margin-bottom: 10px;
	clear: both;
}

#social .social-commentlist #respond {
	margin: 6px 0;
	padding: 0 0 0 7px;
}

#social input.social-input,
#social textarea.social-input,
#social .social-select {
	width: 76%;
}

#social .social-select {
	margin-top: 2px;
}

#social .social-select optgroup {
	padding: 2px;
	font-weight: bold;
}

#social .social-select option {
	font-weight: normal;
}

#social .social-input-row,
#social .form-submit {
	clear: left;
	margin: 0 0 10px;
	overflow: hidden;
	position: relative;
	zoom: 1;
}

#social .form-submit {
	float: none;
	margin-left: 20%;
}

#social .form-submit,
#social .social-input-row-submit {
	margin-bottom: 0;
}

#social .social-input-row .social-label {
	cursor: pointer;
	width: 17%;
	margin-right: 3%;
	float: left;
}
#social #submit,
#social .social-input-row .social-input {
	float: left;
	margin: 0;
}
#social .social-input-row .social-help {
	float: left;
	line-height: 28px;
	margin-left: 20%;
}

#social input#submit:active {
	color: #ffffff;
}

#social .social-twitter-icon,
#social .social-facebook-icon {
	background: url(../../../plugins/social/assets/social.png) 0 -150px no-repeat;
	display: block;
	padding-left: 21px;
}
#social .social-facebook-icon {
    background-position: 0 -250px;
}

#social .social-sign-in-links {
	margin: 0 auto 9px;
	width: 360px;
}
#social .social-sign-in-links a {
	display: inline;
	float: left;
	height: 22px;
	margin: 0 15px;
	width: 150px;
}
#social .social-sign-in-links .social-twitter {
	background: url('../../../plugins/social/assets/social.png') 0 0 no-repeat;
}
#social .social-sign-in-links .social-twitter:hover {
	background-position: 0 -22px;
}
#social .social-sign-in-links .social-twitter:active {
	background-position: 0 -44px;
}
#social .social-sign-in-links .social-facebook {
	background: url('../../../plugins/social/assets/social.png') -150px 0 no-repeat;
}
#social .social-sign-in-links .social-facebook:hover {
	background-position: -150px -22px;
}
#social .social-sign-in-links .social-facebook:active {
	background-position: -150px -44px;
}

/*= Logged in form
-----------------------------------------*/
.logged-in #social .social-input-row-comment .social-label {
	left: -999em;
	position: absolute;
}
.logged-in #social #respond .form-submit,
.logged-in #social .social-input-row {
	padding-left: 50px;
	margin-left: 0;
}

/*= Main tabs
-----------------------------------------*/

/**
 * Work around Javascript FOUC accessibly
 * Prevent flash before tabs init...
 * Relies on snippet in master.js
 */
.social-js .social-tabs-panel {
	display: none;
}
.social-js .social-tabs-first-panel {
	display: block;
}

#social .social-heading {
	background: url('../../../plugins/social/assets/background-strikethrough.gif') 0 13px repeat-x;
	margin-bottom: 10px;
}
#social .social-title {
	margin: 0 0 0 9px;
	zoom: 1;
}
#social .social-title span {
	display: block;
}

#social .social-divider {
	background: url('../../../plugins/social/assets/background-strikethrough.gif') center repeat-x;
	clear: both;
	font: italic 13px/1.5 Helvetica, Arial, sans-serif;
	margin: 0 7px 10px;
	text-align: center;
}
#social .social-divider span {
	background-color: #fff;
	padding: 0 10px;
}
#social .must-log-in {
	text-align: center;
}
#social .social-must-log-in {
	margin-bottom: 25px;
}

#social .social-nav {
	list-style: none;
	margin: 0 0 3px;
	padding: 0 0 0 4px;
}

#social .social-nav li {
	display: inline;
	float: left;
	margin-left: 10px;
}
#social .social-nav .social-tab-main {
	margin-left: 0;
}
#social #social-tabs-comments .social-nav li a span {
	display: block;
}

#social #reply-title {
	background: none;
	padding-left: 0;
	display: none;
}

#social #reply-title span,
#social .social-nav li a {
	float: left;
}
#social .social-nav li a {
	background: transparent;
	padding: 5px;
}
#social .social-nav .social-current-tab a,
#social .social-nav a:hover {
	background: #f1f1f1;
	text-decoration: none;
}

#social .social-tab-main,
#social .social-heading .social-title {
	color: #000;
}

/*= Comments
-----------------------------------------*/
#social .social-comment {
	border-top: 1px dotted #cccccc;
	margin: 0 0 10px;
}
#social .social-comment-header {
	margin-bottom: 6px;
	position: relative;
	z-index: 2;
}
#social .social-comment-author {
	margin-right: 125px;
}
#social .social-fn {
	display: block;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
}
#social .bypostauthor .social-fn {
	font-weight: bold;
}

#social .social-identity {
	margin-top: 10px;
	position: relative;
}
#social .social-identity .avatar {
	left: 0;
	position: absolute;
	top: 2px;
}
#social #cancel-comment-reply-link {
	display: inline;
	margin: 3px 10px;
	position: static;
	text-transform: none;
}

#social .social-comment-header .avatar {
	left: -50px;
	position: absolute;
	top: 3px;
}

#social .social-replied {
	background: url(../../../plugins/social/assets/sprite-y-24-icons.png) 0 -300px no-repeat;
	display: block;
	height: 16px;
	left: -67px;
	position: absolute;
	top: -17px;
	width: 16px;
}

#social .social-comment-inner {
	margin-right: 10px;
	padding: 7px 0 0 60px;
	position: relative;
	zoom: 1;
}

#social .social-comment-body {
	width: 100%;
}

#social .social-comment-body p {
	margin: 0 0 5px;
}
/* Children Comments */
#social .social-children {
	margin: 0;
	padding: 0;
	zoom: 1;
}
#social .social-children li {
	list-style: none;
	margin: 0;
}

#social .social-children .social-comment {
	border-right: 0;
	padding-left: 6px;
}

#social .social-actions,
#social .social-actions a,
#social .social-comment-meta,
#social .social-comment-meta a,
#social .social-last-reply-when {
}

#social .social-actions {
	margin-bottom: 8px;
}
#social .social-actions a,
#social .social-comment-meta a {
	text-decoration: underline;
}
#social .social-comment-meta {
	line-height: 16px;
	padding-right: 20px;
	position: absolute;
	right: 0;
	top: 2px;
	white-space: nowrap;
}
#social .social-comment-meta .social-posted-from a,
#social .social-comment-meta .social-posted-from {
	position: absolute;
	right: 0;
	width: 16px;
	height: 16px;
	margin-left: 5px;
}
#social .social-comment-meta .social-posted-from span {
	display: none;
}
#social .social-actions,
#social .social-actions a,
#social .social-last-reply-when,
#social .social-last-reply-when a {
	text-transform: lowercase;
}

#social .social-last-reply-when {
	font-size: 11px;
	font-style: italic;
	margin-bottom: 4px;
	text-align: right;
}

#social .social-wordpress .social-comment-meta,
#social ol li ul li.social-wordpress .social-comment-meta {
	background-position: right -1px;
}
#social .social-twitter .social-comment-meta,
#social ol li ul li.social-twitter .social-comment-meta {
	background-position: right -100px;
}
#social .social-facebook .social-comment-meta,
#social ol li ul li.social-facebook .social-comment-meta {
	background-position: right -200px;
}
#social .social-pingback .social-comment-meta,
#social ol li ul li.social-pingback .social-comment-meta {
	background-position: right -400px;
}
#social .social-pingback > .social-comment-inner {
	padding-left: 10px;
}

#social .social-comment-collapse {
	display: none;
}

/*Tabs*/


#social #post_to {
	margin: 0 10px;
}
#social #post_to label {
	cursor: pointer;
	width: auto;
}
#social #post_to input {
	width: auto;
}