.commentlist {
    margin: 2% 0;
}
.thread-odd {
    background-color: #f1f1f1;
}
.commentlist > div {
    padding: 1%;
}
.commentlist > div > div.vcard {
    font-size: 1.5em;
}
.commentlist > div > div.commentmetadata {
    margin: 0.6% 0 1% 0;
}