/* CCBPress */
.rh-ccbpress-event-details {
	list-style: none;
}

.rh-ccbpress-event-description {
	font-size: 12px;
}

.rh-ccbpress-event-cta {
	margin: 40px auto 0 auto;
	width: 360px;
	padding: 40px 20px;
}

.rh-ccbpress-share-container {
	margin: 0 auto;
	width: 360px;
	padding: 40px 20px;
	text-align: center;
}

.rh-ccbpress-share-container a {
	font-size: 3em;
	color: #afafaf;
	margin: 10px;
}

.rh-ccbpress-share-container a:hover {
	color: #888;
}

.rh-ccbpress-hoverbox {
	border: 1px solid #ddd;
	border-radius: 3px;
	transition: all 0.4s ease 0s;
	margin-bottom: 20px;
}

.rh-ccbpress-hoverbox:hover {
	transform: translate(0,-2px);
	box-shadow: 3px 3px 30px 0 rgba(0,0,0,0.22);
}

.cta-banner {
	font-size: 16px;
}

.rh-ccbpress-left-column {
	width: 68%;
	margin-right: 2%;
	float: left;
}

.rh-ccbpress-right-column {
	width: 30%;
	float: left;
}

.rh-event-info-box {
	border: 1px solid #ddd;
	box-shadow: 1px 1px 5px #ddd;
	margin-bottom: 20px;
}

.rh-ccbpress-event-details-header {
	margin-bottom: 1.5em;
}

#rh-ccbpress-clock {
	width: 36px;
	height: 36px;
	background-image: url('images/icon-clock.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 2px;
}

.rh-ccbpress-event-recurrence-description {
	font-family: 'arial', 'sans-serif';
	font-size: 1.4em;
	font-weight: normal;
	padding: 5px;
	margin-top: 5px;
}

.rh-ccbpress-event-image {
	margin-bottom: 10px;
}

.rh-ccbpress-event-image img {
	border: 1px solid #eee;
	padding: 5px;
	box-shadow: 1px 1px 5px #ccc;
}

.rh-ccbpress-event-organizer {
	font-family: 'arial', 'sans-serif';
	font-size: 1.4em;
	margin-bottom: 15px;
}

.rh-ccbpress-rsvp {
	font-size: 1.7em;
	margin-bottom: 10px;
	width: 150px;
	margin: 0 auto;
}

.rh-ccbpress-rsvp a {
	width: 100%;
	text-align: center;
}

.rh-event-info-box-header {
	border-bottom: 1px solid #ddd;
}

.rh-event-info-box-icon {
	padding: 4px;
	width: 48px;
	height: 48px;
	float: left;
	border-right: 1px solid #ddd;
}

.rh-event-info-box-icon span.dashicons {
	width: 40px;
	height: 40px;
	font-size: 40px;
	color: #666;
}

.rh-event-info-box-header-text {
	float: left;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 2em;
	color: #666;
	padding: 14px 6px;
	padding-right: 0px;
}

div.rh-event-info-box-content > ul {
	list-style: none;
	font-size: 1.6em;
}

.rh-ccbpress-event-location-content {
	height: 300px;
}

.rh-ccbpress-event-location-nomap {
	padding: 5px;
	margin-top: 5px;
	font-size: 1.4em;
}

.rh-ccbpress-event-exceptions-content {
	font-size: 1.6em;
}

.rh-ccbpress-event-exceptions-content ul {
	list-style: none;
	padding: 0;
	font-size: 1.6em;
}

.rh-ccbpress-event-date-box {
	float: left;
	width: 48px;
	height: 48px;
	margin-right: 10px;
	border-right: 1px solid #ddd;
	color: #666;
	text-align: center;
	font-family: 'Montserrat', 'arial', sans-serif;
	font-size: 0.9em;
	font-weight: 700;
	padding: 0.5em;
}

.rh-ccbpress-event-date-box-month {
	text-transform: uppercase;
}

.rh-ccbpress-event-date-box-date {
	font-size: 1.5em;
}

.rh-ccbpress-event-date-box-text {
	padding: 14px 0;
}

@media only screen and (max-width: 1000px) {
	.rh-ccbpress-left-column, .rh-ccbpress-right-column {
		width: 100%;
		float: none;
		margin: 0;
	}
}

@media only screen and (max-width: 500px) {
	.rh-ccbpress-event-cta, .rh-ccbpress-share-container {
		width: 300px;
		padding: 20px;
	}

	.cta-banner {
		font-size: 13px;
	}

	.rh-ccbpress-event-description {
		font-size: 11px;
	}
}
