/* This sheet is for everything IE 7 and below */

/* these are elements we want inline-block */
#page,
#footer,
.global-navigation span,
.global-navigation h1,
.global-navigation h1 a,
.global-navigation nav,
.global-navigation nav > ul,
#banner h1,
.page-numbers,
time,
time span,
.page-title h1,
#content-title h1,
section header h1,
aside header h1,
.story-box .title i {
	zoom: 1;
	display:inline !important;
}

.dropdown {
	padding-right: 0;
}

.global-navigation nav {
	display: inline;
}

.global-navigation nav ul li ul {
	overflow: visible;
}

.global-navigation nav ul li ul li {
	width: 100%;
	position: relative;
	margin-bottom: -1px;
}

.global-navigation {
	width: 100%;
	position: relative;
	z-index: 10;
}

.global-navigation #searchform input#s {
	width: 95px;
}

* html .clearfix,
*:first-child+html .clearfix {
	zoom: 1;
}

.nthreset {
	clear: both !important;
}

.marginreset {
	margin-right: 0 !important;
}