@media screen and (max-width: 480px) {

/*= Message series
-----------------------------------------*/
#content .series-collection article.message-series {
	width: 49%;
	margin-right: 1%;
}

#content .series-collection article.message-series:nth-child(4n+5) {
	clear: none;
}

#content .series-collection article.message-series:nth-child(2n+3) {
	clear: both;
}

/*= Message content
-----------------------------------------*/
article.message .message-image {
	margin-bottom: 5px;
	float: none;
	width: 100%;
}

article.message .message-details.with-image {
	float: none;
	width: 100%;
}

}