/*= Message series
-----------------------------------------*/
#content .series-collection article.message-series {
	float: left;
	width: 24%;
	margin-right: 1%;
	padding: 0;
	padding-bottom: 0;

	border-bottom: none;
}

#content .series-collection article.message-series:nth-child(4n+5) {
	clear: both;
}

#content article.message-series .series-image img {
	min-height: 20px;
}

#content article.message-series p {
	display: block;
	overflow: hidden;
	margin-bottom: 0px;

	white-space: nowrap;
	text-overflow: ellipsis;
}

/*= Latest message (in message series)
-----------------------------------------*/
#content article.first.message-series {
	padding-bottom: 20px;

	border-bottom: 1px dotted #747474;
}

#content article.first.message-series time {
	float: none;
}

#content article.first.message-series .series-image {
	width: 40%;
	padding-right: 2.5%;
	float: left;
}

#content article.first.message-series .series-details {
	width: 57.5%;
	float: right;
}

#content article.first.message-series p {
	overflow: visible;
	margin-bottom: 10px;

	white-space: normal;
}

/*= Single message
-----------------------------------------*/
article.message {
	color: #747474;
}

article.message .message-audio object {
	display: inline;
	vertical-align: middle;
}

article.message .message-more,
article.message .message-related {
	padding-top: 10px;
}

article.message .message-more {
	margin-top: 20px;
	border-top: 1px dotted #747474;
}

article.message .share h3 {
	display: inline;
	margin-right: 5px;
}

article.message .share > div {
	display: inline;
	margin-right: 10px;
	max-height: 20px;
}

article.message .message-details .message-meta .meta-title {
	margin-right: 5px;
}

/*= Message content
-----------------------------------------*/
article.message .message-details.with-image {
	float: right;
	width: 70%;
}

article.message .message-image {
	float: left;
	width: 28%;
	padding-right: 2%;
}