/*= Message series
-----------------------------------------*/
#content .series-collection article.message-series {
	float: left;
	width: 23%;
	margin-right: 2%;
    margin-bottom: 30px;
	padding: 0;
	padding-bottom: 0;

	border-bottom: none;
}

#content .series-collection article.message-series:nth-child(4n+5) {
	clear: both;
}

#content article.message-series .series-image img {
	min-height: 20px;
}
#content article.message-series .series-details {
    /*float: right;*/
}
#content article.message-series p {
	display: block;
	overflow: hidden;
	margin-bottom: 0px;

	white-space: nowrap;
	text-overflow: ellipsis;
}

/*= Latest message (in message series)
-----------------------------------------*/
#content article.first.message-series {
	padding: 0 0 20px 0;
    margin-bottom: 50px;
}

#content article.first.message-series time {
	float: none;
    margin: 10px 0;
}

#content article.first.message-series .series-image {
	width: 40%;
	padding-right: 2.5%;
	float: left;
}

#content article.first.message-series .series-details {
	width: 57.5%;
	float: right;
}
#content article.first.message-series .series-details h2 a {
    text-decoration: none;
}


.series-link-buttons {
    margin-top: 40px;
}
.series-link-buttons span {
    margin: 0 10px;
}
#content article .series-title {
    margin: 5px 0;
}
#content article .series-title h4 {
    margin: 10px 0 5px 0;
}
#content article .series-title h4 a {
    text-decoration: none;
    color: #19ACCD;
    font-size: .9em;
    font-weight: 700;
    text-transform: uppercase;
}

#content article.first.message-series p {
	overflow: visible;
	margin-bottom: 10px;

	white-space: normal;
}

/*= Single message
-----------------------------------------*/
article.message {
	color: #747474;
}

article.message .message-audio object {
	display: inline;
	vertical-align: middle;
}

article.message .message-more,
article.message .message-related {
	padding-top: 30px;
	margin-top: 0px;
}

article.message .message-more {
	margin-top: 30px;
	border-top: 1px solid #DEDEDE;
}

.message-more a {
	font-size: 2.4em;
	margin: 0 5px;
	color: #AFAFAF;
}

.message-more a:hover {
	color: #888888;
}

.message-more a .icon {
	position: relative;
	top: 5px;
}
.message-more a .icon-facebook {
	font-size: .9em;
	top: 3px;
}
.message-more a .icon-download-video {
	font-size: 1.2em;
	top: 7px;
}

article.message .share h3 {
	display: inline;
}
.message .embedded-audio {
	position: relative;
	top: 3px;
	margin-left: 5px;
}
article.message .message-share h3 {
	margin-left: 0;
}

article.message .share > div {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 30px;
	max-height: 20px;
}
article.message .share img {
	height: 15px;
	margin-left: 5px;
}
.message-download h3 {
	margin-right: 5px;
}
article.message .message-details {
	max-width: 700px;
}

article.message .message-details .message-meta .meta-title {
	margin-right: 5px;
}

article.message .message-details .message-meta p {
	margin: 0;
}

/*= Message content
-----------------------------------------*/
article.message .message-details.with-image {
	float: right;
	width: 70%;
}

article.message .message-image {
	float: left;
	width: 28%;
	padding-right: 2%;
}
