/*= Latest message (in message series)
-----------------------------------------*/
#content article.first.message-series {
	margin: 0 auto;
	margin-bottom: 10px;
	float: none;
}

#content article.first.message-series .series-image {
	width: 100%;
	float: none;
}

#content article.first.message-series .series-details {
	width: 100%;
	float: none;
}
