@media screen and (max-width: 569px) {

/*= Generic styles
-----------------------------------------*/
.mobile-hide,
.tablet-hide,
.desktop-hide {
	display: inherit !important;
}

.mobile-hide {
	display: none !important;
}

.widget-body > a {
	color: #fff;
}

/*= Global navigation
-----------------------------------------*/
.global-navigation {
	height: 51px;

	box-shadow: 0px 0px 3px 0px #888888;
}

.global-navigation nav ul li {
	position: static;
}

.global-navigation nav ul li:hover ul {
	display: none;
}

.global-navigation nav ul li ul.touch {
	display: block;
}

.global-navigation li.menu,
.global-navigation li.campuses,
.global-navigation li.search {
	display: block;
	width: 30px;
	height: 30px;
	float: left;
	margin: 10px;
	margin-top: 10.5px; /*= global nav height / 2 - this.outerHeight/2 + 10px margin */

	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
}

.global-navigation li.campuses > a {
	text-indent: -9999px;
}

.global-navigation li.campuses > a:after {
	display: none;
}

.global-navigation li.menu {
	background-position: -19px -60px;
}

.global-navigation li.campuses {
	background-position: -19px -30px;
}

.global-navigation li.search {
	background-position: -19px -0;
}

.global-navigation #searchform {
	position: absolute;
	top: 100%;
	width: 300px;
}

.global-navigation nav ul li ul,
.global-navigation #searchform {
	display: none;
	top: 51px;
	right: 0;
	left: auto;
	z-index: 102;

	background: #ffffff;
}

.global-navigation #searchform.touch {
	display: block;
}

.global-navigation #searchform {
	width: 90%;
	padding: 2%;

	background: #f2f2f2;

	box-shadow: 0px 2px 1px 0px #888888;
}

.global-navigation #searchform input {
	font-size: 1.5em;
	padding: 5px;
}

/*= Main layout
-----------------------------------------*/
.breadcrumbs {
	margin-left: 10px;
}

#page {
	width: 100%;
}

#branding {
	padding: 0;
}

#access ~ nav.submenu {
	display: block;
	padding-top: 15px;
}

nav.submenu ul {
	float: none;
}

aside {
	float: none;
}

.page-title,
#content-title,
section header {
	padding: 0 0 10px 0;
}

#footer > div {
	width: 100%;
	display: none;
}

#footer .first {
	display: block;
}

/*= Main navigation
-----------------------------------------*/
#access {
	display: none;
}

#access ul li {
	float: none;
}

#access ul li a {
	text-align: left;
}

nav.submenu ul {
	min-width: 100%;
}

/*= Footer
-----------------------------------------*/
#footer .third form input[type=email] {
	width: 70%;
	margin-right: 1%;
}

#footer .third form input[type=submit] {
	width: 25%;
}

/*= Home content
-----------------------------------------*/
#branding .stories-3 .story-box {
	margin-bottom: 10px;
}

.home #frontpage-content {
	float: none;
	width: 100%;
	margin: 0;
}

.home #frontpage-sidebar {
	float: none;
	width: 100%;
}

.home #frontpage-sidebar aside {
	float: none;
	width: 100%;
	margin: 0;
	margin-bottom: 10px;
}

.home #frontpage-sidebar aside:nth-child(even) {
	margin: 0;
	margin-bottom: 10px;
}

#featured {
	margin-top: 0;
}

#featured header {
	width: 100%;
}

#featured header h1 {
	display: block;

	text-align: left;
}

#main-feature .story-box .title {
	max-width: 96%;
	width: 96%;
	bottom: 0;
	left: 0;
	padding: 2%;
	margin: 0;
}

#featured .story-box {
	margin-bottom: 10px;
}

#frontpage-content header h1,
#frontpage-sidebar header h1,
#featured header h1 {
	display: block;
}

/*= Articles
-----------------------------------------*/
time {
	float: none;
	display: block;
	margin-top: 5px;
}

.columns div {
	margin: 0;
	min-width: 100%;
}

/*= Grid layout
-----------------------------------------*/
.grid-layout div {
	min-width: 100%;
}

.grid-layout .grid-title {
	margin: 10px 0;

	text-align: center;
}

/*= Story box
-----------------------------------------*/
.stories-2 .story-box,
.stories-3 .story-box,
.stories-3 .story-box {
	overflow: visible;
	float: none;
	width: 70%;
	margin-bottom: 10px;
}

.story-box .title {
	left: 50%;
	bottom: 50%;
	margin: 0;
	margin-bottom: -1em;
	width: 85%; /*= (story-box width)* left + 50% */
}

}