@media screen and (max-width: 865px) {



}

@media screen and (max-width: 569px) {


/*= Generic styles
-----------------------------------------*/

.mobile-hide,
.tablet-hide,
.desktop-hide {
	display: inherit !important;
}

.mobile-hide {
	display: none !important;
}

.widget-body > a {
	color: #fff;
}

.one-fourth, .one-third, .one-half {
    width: 100%;
    float: none;
    margin-bottom: 32px;
}



/*= Main layout
-----------------------------------------*/
.breadcrumbs {
	margin-left: 10px;
}

#page {
	width: 100%;
}

#branding {
	padding: 0;
}

#access ~ nav.submenu {
	display: block;
	padding-top: 15px;
}

nav.submenu ul {
	float: none;
}

aside {
	float: none;
}

.page-title,
#content-title,
section header {
	padding: 0 0 10px 0;
}

#footer .first {
	display: block;
}

/*= Main navigation
-----------------------------------------*/



/*= Footer
-----------------------------------------*/
#footer {
    width: 100%;
}
#footer .third form input[type=email] {
	width: 70%;
	margin-right: 1%;
}

#footer .third form input[type=submit] {
	width: 25%;
}

/*= Home content
-----------------------------------------*/
#branding .stories-3 .story-box {
	margin-bottom: 10px;
}

.home #main { padding: 0 20px; }

.home #frontpage-content {
	float: none;
	width: 100%;
	margin: 0;
}

.home #frontpage-sidebar {
	float: none;
	width: 100%;
}

.home #frontpage-sidebar aside {
	float: none;
	width: 100%;
	margin: 0;
	margin-bottom: 10px;
}

.home #frontpage-sidebar aside:nth-child(even) {
	margin: 0;
	margin-bottom: 10px;
}

#featured {
	margin-top: 0;
}

#featured header {
	width: 100%;
}

#featured header h1 {
	display: block;

	text-align: left;
}


.home .home-title {
	border-bottom: 2px solid #E6E6E6;
	padding-bottom: 7px;
}
.home .home-title .subtitle {
	margin-bottom: 0;
}
.home .faq-slides .slick-next {
	right: -18px;
}

#main-feature .story-box .title {
	max-width: 96%;
	width: 96%;
	bottom: 0;
	left: 0;
	padding: 2%;
	margin: 0;
}

#featured .story-box {
	margin-bottom: 10px;
}

#frontpage-content header h1,
#frontpage-sidebar header h1,
#featured header h1 {
	display: block;
}


#map .global-location {
	padding: 50px 0;
	height: 625px;
}
#map .one-third {
    border: none;
    border-bottom: 2px solid white;
		max-width: 80%;
		margin: 0 auto;
}

#map .wrapper {
    padding: 50px 0;
}
#map .one-third {
    text-align: center;
		min-height: 0;
		margin-bottom: 0;
		padding: 30px 0;
}

#map .map-logo {
	max-width: 85%;
}

#mission h2 {
		font-size: 4em;
		line-height: 1.3em;
		padding: 0 30px;
}


/*= Articles
-----------------------------------------*/
article:nth-of-type(odd) img.every-other-float,
article:nth-of-type(even) img.every-other-float
{
	float: none;
	margin: 0 0 10px 0;
}

time {
	float: none;
	display: block;
	margin-top: 5px;
}

.columns div {
	margin: 0;
	min-width: 100%;
}

/*= Grid layout
-----------------------------------------*/
.grid-layout div {
	min-width: 100%;
}

.grid-layout .grid-title {
	margin: 10px 0;

	text-align: center;
}

/*= Story box
-----------------------------------------*/
.stories-2 .story-box,
.stories-3 .story-box,
.stories-3 .story-box {
	overflow: visible;
	float: none;
	width: 70%;
	margin-bottom: 10px;
}
.stories-4 .story-box {
	width: 49%;
	margin-right: 1%;
	margin-bottom: 20px;
}

}
