/*
This stylesheet is applied to mobile (max 480px) only.
*/

/*= Main layout
-----------------------------------------*/
#page {
	width: 100%;
}

#branding {
	padding: 0;
}

#submenu ul {
	float: none;
}

aside {
	float: none;
}

#footer .column > div {
	width: 100%;
	display: none;
}

#footer .column .first {
	display: block;
}

#footer .tabs {
	display: block;
}

#footer .tabs a {
	width: 0;
	padding: 12.25%;
	display: block;
	float: left;
}


/*= Main navigation
-----------------------------------------*/
#access ul li {
	float: none;
}

#access ul li a {
	text-align: left;
}

/*= Home content
-----------------------------------------*/
.home #frontpage-content {
	float: none;
	width: 100%;
	margin: 0;
}

.home #frontpage-sidebar {
	float: none;
	width: 100%;
}

.home #frontpage-sidebar aside {
	float: none;
	width: 100%;
	margin: 0;
}

#featured header {
	width: 100%;
}

#featured header h1 {
	display: block;
	
	text-align: left;
}

#main-feature .story-box .title {
	max-width: 96%;
	width: 96%;
	bottom: 0;
	left: 0;
	padding: 2%;
	margin: 0;
}

#featured .story-box {
	margin-bottom: 10px;
}

#frontpage-content header h1,
#frontpage-sidebar header h1,
#featured header h1 {
	display: block;
}

/*= Story box
-----------------------------------------*/
.stories-2 .story-box,
.stories-3 .story-box,
.stories-3 .story-box {
	overflow: visible;
	float: none;
	width: 70%;
	margin-bottom: 10px;
}

.story-box .title {
	left: 50%;
	bottom: 50%;
	margin: 0;
	margin-bottom: -1em;
	width: 85%; /*= (story-box width)* left + 50% */
}
