.sidr {
    display: block;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 312px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #0D6078;
    color: #fff;
    text-align: left;
}


.sidr.right {
    left: auto;
    right: -312px;
}

.sidr.left {
    left: -312px;
    right: auto;
}

.sidr h1,.sidr h2,.sidr h3,.sidr h4,.sidr h5,.sidr h6 {
    color: #fff;
    text-transform: none;
}
.sidr h2 {
    font-size: 2em;
    margin: auto 0;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
}

.sidr nav {
    position: relative;
    margin-top: 30px;
    padding: 0 36px;
}

.sidr .campus-logo {
    margin: 0;
    margin-bottom: 50px;
}
.sidr .icon-close {
    position: absolute;
    top: 30px;
    right: 36px;
    cursor: pointer;
    font-size: 2.2em;
    z-index: 10000;
}

.sidr ul {
    margin-top: 0;
}

.sidr ul li {
    margin: 0 -60px 0 -36px;
}
.sidr ul li a {
    font-size: 1.8em;
    padding: 21px 36px;
    display: block;
}
.sidr ul li.active, .sidr ul li:hover, .sidr .sidebar-footer a:hover {
    background-color: #1C9DC2;
}
.sidr a {
    color: #fff;
    text-decoration: none;
}

.sidr .sidebar-footer {
    border-top: 1px solid #fff;
    padding-top: 20px;
}
.sidr .sidebar-footer a {
    padding: 10px 36px;
    margin: 0 -36px;
    display: block;
}
.sidr .sidebar-footer p {
    font-family: Georgia, serif;
    margin-bottom: 5px;
}
.sidr .sidebar-footer h3 {
    font-size: 1.5em;
}
