/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url("./images/ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; pointer-events: none;}
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }



/* Arrows */
.slick-prev, .slick-next {
    opacity: 0.8;
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 0;
    font-size: 3em;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { opacity: 1; background: transparent; }
/*.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }*/
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }


.slick-prev, .slick-next {
    font-family: "rock-harbor" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    font-size: 0;
    speak: none;
    line-height: 1;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev { left: 25px; }
.slick-next { right: 25px; }

.slick-prev:before, .slick-next:before {
    font-size: 30px;
    line-height: 1;
}
.slick-prev:before { content: "o"; }
.slick-next:before { content: "a"; }

.faq-slides .slick-prev, .faq-slides .slick-next {
    color: #AEAEAE;
    /*font-size: 4em;*/
    font-size: 0;
    height: 40px;
    width: 30px;
    margin-top: 0;
}
.faq-slides .slick-prev { left: -37px; }
.faq-slides .slick-next { right: -30px; }

#map .slick-prev, #map .slick-next { font-size: 0; }

#map .slick-prev:before, .faq-slides .slick-prev:before { content: "p"; }
#map .slick-next:before, .faq-slides .slick-next:before { content: "g"; }

img.faq-img {
    width: 100%;
    padding-top: 43px;
}
.faq-slides .slick-list {
    margin: 0 -5px;
}
.faq-slide .slide-inner {
    margin: 0;
    padding: 5px;
    position: relative;
}
/* Dots */
.slick-slider { margin-bottom: 30px; }

.slick-dots {
    position: absolute;
    bottom: -22px;
    list-style: none;
    display: block;
    text-align: right;
    padding: 0;
    width: 100%;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    height: 8px;
    width: 46px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background-color: #d9d9d9;
}
.slick-dots li:last-child {
    margin-right: 0;
}
#map .slick-dots {
    text-align: center;
    bottom: 20px;
}
#map .slick-dots li {
    background-color: #fff;
    opacity: .25;
}

#map .slick-dots li.slick-active{
    opacity: .5;
}
.slick-dots li button {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    background: transparent;
    color: transparent;
    cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button:before {

}
.slick-dots li.slick-active  {
    background-color: #AEAEAE;
}

[dir="rtl"] .slick-next {right: auto;left: -25px;}
[dir="rtl"] .slick-next:before {content: "\2190";}
[dir="rtl"] .slick-prev {right: -25px;left: auto;}
[dir="rtl"] .slick-prev:before {content: "\2192";}
[dir="rtl"] .slick-slide {float: right;}


@media screen and (max-width: 569px) {
    img.faq-img {
        padding-top: 33px;
    }
    .slick-prev { left: 10px; }
    .slick-next { right: 10px; }
    .faq-slides .slick-prev, .faq-slides .slick-next {
        color: #AEAEAE;
        font-size: 2em;
        height: 20px;
        width: 20px;
        margin-top: 5px;
    }
    .faq-slides .slick-prev { left: -20px; }
    .faq-slides .slick-next { right: -20px; }
}
