@media screen and (max-width: 569px) {

/**
 * Styles for the `staff` feature
 */

/*= Archive Page
-----------------------------------------*/
.page article.staff {
	width: 31.33%;
	margin: 1%;
	padding: 0;
	float: left;
	border-bottom: none;
	text-align: center;
}

.page article.staff:nth-child(3n+4) {
	clear: both;
}

/*= Archive Page
-----------------------------------------*/
.single-staff article.staff .staff-details dd,
.single-staff article.staff .staff-details dt {
	overflow: hidden;
}

}