/**
 * Styles for the `staff` feature
 */
 
/*= Archive Page
-----------------------------------------*/
.page-template #content article.staff {
	width: 31.33%;
	margin: 1%;
	padding: 0;
	float: left;
	border-bottom: none;
	text-align: center;
}

.page-template #content article.staff:nth-child(3n+4) {
	clear: both;
}