/**
 * Styles for the `staff` feature
 */

/*= Archive Page
-----------------------------------------*/
.page article.staff {
	width: 15.541%;
	margin: 0 0.5625%;
	margin-bottom: 10px;
	padding: 0;
	float: left;
	border-bottom: none;
	text-align: center;
}

.page article.staff:nth-child(6n+7) {
	clear: both;
}

.page article.staff .staff-picture {
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}

.page article.staff .staff-picture:hover {
	opacity: .7;
}

/*= Single Page
-----------------------------------------*/
.single-staff article.staff .entry-content {
	width: 100%;
	text-align: left;
}

.single-staff article.staff .staff-picture {
	margin-bottom: 10px;
}

.single-staff article.staff .staff-details {
	float: left;
	width: 28.875%;
	margin-right: 1.125%;
}

.single-staff article.staff .staff-details dd,
.single-staff article.staff .staff-details dt {
	float: none;
}

.single-staff article.staff .staff-bio {
	float: left;
	width: 70%;
}
