/**
 * Styles for the `staff` feature
 */
 
/*= Archive Page
-----------------------------------------*/
#content article.staff {
	width: 28.875%;
	padding-right: 1.125%;
	float: left;
	border-bottom: none;
	text-align: center;
}

/*= Single Page
-----------------------------------------*/
#content .single-staff article.staff {
	width: 100%;
	text-align: left;
}

#content .single-staff article.staff .staff-picture {
	float: left;
	width: 28.875%;
	padding-right: 1.125%;
}

#content .single-staff article.staff .staff-bio {
	float: left;
	width: 70%;
}
