@media screen and (max-width: 1025px) {





/*= Generic styles
-----------------------------------------*/
.mobile-hide,
.tablet-hide,
.desktop-hide {
	display: inherit !important;
}

.tablet-hide {
	display: none !important;
}

.one-fourth {
    width: 49.5%;
    margin-right: 1%;
    float: left;
    margin-bottom: 20px;
}

.one-fourth:nth-child(2n) {
    margin-right: 0;
}

/*= Main layout
-----------------------------------------*/
.breadcrumbs {
	margin-top: 10px;
}

#page {
	width: 98%;
}

#sidebar,
#content {
	width: 100%;
	float: none;
}

#content {
	margin-top: 10px;
}

#sidebar {
    display: none;
}

#main {
	margin-top: 10px;

	box-shadow: none;
}

#footer .column {
	width: 100%;
}

.page-title,
#content-title
{
	margin: 0;
	padding: 0;
}

.page-title h1,
#content-title h1,
section header h1,
aside header h1 {
	display: block;

	text-align: left;
}

.page-title time,
#content-title time,
section header time {
	float: none;
	margin-left: 10px;
}



#footer .first {
	display: block;
}

footer .tabs {
	display: block;
}

footer .tabs a {
	position: relative;
	width: 0;
	padding: 12.5%;
	display: block;
	float: left;
}

/* 18 30 70 */
footer .icon-more:after {
	content: ' ';
	display: block;
    position: absolute;
	width: 70px;
	height: 70px;
	left: 50%;
	top: 50%;
	margin-left: -35px;
	margin-top: -35px;

	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-position: -260px 0;
}

footer .icon-message:after {
	content: ' ';
	display: block;
    position: absolute;
	width: 70px;
	height: 70px;
	left: 50%;
	top: 50%;
	margin-left: -35px;
	margin-top: -35px;

	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-position: -190px 0;
}

footer .icon-connect:after {
	content: ' ';
	display: block;
    position: absolute;
	width: 70px;
	height: 70px;
	left: 50%;
	top: 50%;
	margin-left: -35px;
	margin-top: -35px;

	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-position: -120px 0;
}

footer .icon-campus:after {
	content: ' ';
	display: block;
    position: absolute;
	width: 70px;
	height: 70px;
	left: 50%;
	top: 50%;
	margin-left: -35px;
	margin-top: -35px;

	background-image: url('images/sprite.png');
	background-repeat: no-repeat;
	background-position: -50px 0;
}

#branding {
	margin-top: 10px;
}

nav.submenu {
	display: block;
    margin-top: 10px;
	float: none;
	width: 100%;
	background: #fff;
}

#access {
	/*margin-bottom: 0;*/
}

#access ~ nav.submenu {
	display: block;
}

nav.submenu ul {
	/* reverts columns to use element definition */
	width: auto !important;
    padding-left: 15px;
}

nav.submenu a {
	color: #383838;
}


/*= Global navigation
-----------------------------------------*/
.global-navigation {
	margin-bottom: 0;

	box-shadow: none;
}
.wrapper {
    padding: 0;
}
/*= Global navigation
-----------------------------------------*/
.global-navigation {
	height: 51px;
}

.global-navigation nav ul li {
	position: static;
}

.global-navigation nav ul li:hover ul {
	display: none;
}

.global-navigation nav ul li ul.touch {
	display: block;
}

.global-navigation li.menu,
.global-navigation li.campuses,
.global-navigation li.search {
	display: block;
	width: 30px;
	height: 30px;
	float: left;
	margin: 10px;
	margin-top: 10.5px; /*= global nav height / 2 - this.outerHeight/2 + 10px margin */
	cursor: pointer;
	color: #C0C0C0;
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;

	background-repeat: no-repeat;
}
.global-navigation li.menu:hover,
.icon-search:hover {
	color: #B4B4B4;
}
.global-navigation li.menu {
	font-size: 2.7em;
}
.global-navigation .search-label {
	margin: 0;
}
.global-navigation .search-label img {
	width: 30px;
	margin-top: 1px;
}

.global-navigation li.campuses > a {
	text-indent: -9999px;
}

.global-navigation li.campuses > a:after {
	display: none;
}

.global-navigation li.menu {
	background-position: -19px -60px;
}

.global-navigation li.campuses {
	background-position: -19px -30px;
}

.global-navigation li.search {
	background-image: none;
}

.global-navigation #searchform {
	position: absolute;
	top: 100%;
	width: 300px;
}
.global-navigation .icon-search {
	font-size: 2.5em;
}

.global-navigation nav ul li ul,
.global-navigation #searchform {
	display: none;
	top: 51px;
	right: 0;
	left: auto;
	z-index: 102;

	background: #ffffff;
}

.global-navigation #searchform.touch {
	display: block;
}

.global-navigation #searchform {
	width: 100%;
	padding: 2%;

	background: #f2f2f2;


}

.global-navigation #searchform input {
	font-size: 1.5em;
	padding: 5px;
}

.global-navigation .campus-menu {
	margin-top: 4px;
}


/*= Main navigation
-----------------------------------------*/
.rockharbor-logo {
	float: none;
	margin: 20px 0;
	max-width: 100%;
}

.rockharbor-logo-svg {
	float: none;
	margin: 20px 0;
	max-width: 418px;
}

#access {
	display: none;
	float: none;
}

#access ul {
	float: none;
}

#access ul li {
	float: none;
}

#access ul li a {
	padding: 5px 15px 4px !important;
	text-align: left;
}

nav.submenu ul {
	min-width: 45%;
}

#access ul li:hover div.submenu {
	display: none;
}

#access>ul>li:hover:after {
	display: none;
}

/*= Footer
-----------------------------------------*/
#footer .third form input[type=email] {
	width: 70%;
	margin-right: 1%;
}

#footer .third form input[type=submit] {
	width: 15%;
}

/*= Home content
-----------------------------------------*/
.home #frontpage-sidebar {
	float: none;
	width: 100%;
	margin-top: 10px;
}

.home #frontpage-sidebar:after {
	clear: both;
	content: ' ';
	display: block;
	visibility: hidden;
	width: 0;
	height: 0;

	font-size: 0;
	line-height: 0;
}

.home #frontpage-sidebar aside {
	/*width: 49%;*/
}

.home #frontpage-sidebar aside:nth-child(odd) {
	margin-right: 1%;
}

.home #frontpage-sidebar aside:nth-child(even) {
	margin-left: 1%;
}

.home #frontpage-content {
	float: none;
	width: 100%;
	margin: 0;
	padding-bottom: 10px;
}

#frontpage-content header h1,
#frontpage-sidebar header h1,
#featured header h1 {
	display: inline-block;
}


/*= CORE
-----------------------------------------*/
.core-events time {
	clear: both;
	float: left;
	width: 30%;
	padding-right: 2%;

	text-align: right;
}

.core-events a {
	float: right;
	width: 68%;
}

}
