[submodule "vendors/tmhOAuth"]
	path = vendors/tmhOAuth
	url = https://github.com/themattharris/tmhOAuth.git
[submodule "vendors/S3"]
	path = vendors/S3
	url = https://github.com/tpyo/amazon-s3-php-class.git
